.inputBox {
	margin-top: 20px !important;
}

.titleBox {
    text-align: center;
}

.buttonBox {
    text-align: end;
	margin-top: 20px !important;
}

.formContainer {
    height: 100vh;
    margin: 10px auto;
    max-width: 800px;
    padding: 0 10px;
}

.multiInputBox {
    margin-top: 10px !important;
    margin-bottom: 2px !important;
}